#login-comp {
  height: 100vh;
  padding-top: 25vh;
}
.login-form {
  max-width: 450px;
  min-width: 300px;
  width: 50%;
  align-content: center;  
  margin: auto;
  height: auto;
  border-style: groove;
  background-color: whitesmoke;
  padding: 20px;
  .title {
    text-align: center;
    padding: 10px;
  }
  .center {
    text-align: center;
  }
  .button-wrapper {
    padding-top: 20px;
  }
  .btn-login {
    cursor: pointer;
  }
  .btn-disable {
    cursor: not-allowed;
  }
}