.footer {
  position: fixed;
  width: 100vw;
  // background-image: url("");
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 0px;
}