.ttt-custom-header {
  width: 100vw;
  opacity: 0.7 !important;
  color: white;
  background-color: inherit;
  z-index: 99;
  &.logo {
    float: left;
  }
  ul {
    width: 90vw;
  }
  li {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    &.home {
    }
    &.portfolio {
    }
    &.games {
    }
    &.portfolio {
    }
    &.shopping {
    }
    &.noval {
    }
  }
  .dropdown.right {
    padding-right: 2px;
    float: right;
  }
}

.nav-item {
  a { color: yellow; }
}

.dropdown-item:hover {
  background-color: yellow;
}