body {
  background-color: antiquewhite;
  padding-bottom: 20px;
}

.banner {
  width: auto;
  height: 20vh;
  background-color: inherit;
  opacity: 0.7;
  background-image: url("https://res.cloudinary.com/di6vua0hr/image/upload/v1561097968/web_images/template_oua9sl.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  width: 100vw;
  height: auto;
  background-color: beige;
  opacity: 0.8;
  padding-top: 10px;
  .profile-title {
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 20px;
    font-style: italic;
  }
  .image-profile-wrapper {
    max-width: 240px;
    color: #4BF9F3;
    margin-left: auto;
    margin-right: auto;
    float: right;
    background-color: transparent; 
    .image-profile {
      float: right;
      width: 180px;
      height: auto;
      display: block;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
  .basic-infomation {
    margin-top: 20px;
    border-style: double;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-bottom: none; 
  }
  .skills {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .title {
    padding-left: 20%;
    &.center {
      text-align: center;
      padding-left: 0%;
    }
    font-size: 20px;
  }
}

.background-color-yellow {
  background-color: yellow !important
}
.background-color-red {
  background-color: red !important
}

.border-top {
  border-top-style: dotted;
  border-top-width: 2px;
  padding-top: 10px;
}

.main-skill {
  background-color: yellow;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.word-break {
  word-break: break-word;
}

.btn-edit {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-opacity {
  opacity: 1 !important;
}

.btn-save {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-cancel {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.margin-center {
  margin-left: 25%;
  margin-right: 25%;
}

.modal-backdrop.fade.show {
  display: none;
}

.modal-content {
  border: solid 5px lightblue;
  height: auto;
  .modal-title {
    text-align: center;
    width: 100%;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.margin-top-30 {
  margin-top: 30px;
}

.width-100-100 {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
.edit-image-area {
  input {
    width: 100%;
  }
}

.export-pdf {
  width: 210mm;
  height: auto;
}

input.error {
  border-color: red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 28px;
  border-color: 'transparent';
}

.slider.round:before {
  border-radius: 50%;
  border-color: 'transparent';
}

.padding-right-10 {
  padding-right: 10px;
}

.btn-group-vertical {
  button {
    height: 30px;
  }
}

.link {
  color: #007bff !important;
  cursor: pointer;
}
