html,body{
  min-height: 100%;
}
body{
  background: url(https://res.cloudinary.com/di6vua0hr/image/upload/v1562129381/web_images/background_jath9x.png) center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.particle {
  position: absolute;
  border-radius: 50%;
  width: 100vw;
  height: 100vh;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
      100% {
          transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
      }
  }
  
  .particle:nth-child(#{$i}){
      animation: particle-animation-#{$i} 60s infinite;
      $size: random(10) + 5 + px;
      opacity: random(100)/100;
      height: $size;
      width: $size;
      animation-delay: -$i * .2s;
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
      background: hsl(random(360), 70%, 50%);
  }
}

#snow {
  background-color: transparent !important;
  opacity: 1 !important;
  z-index: 3;
  background-image: url(https://res.cloudinary.com/di6vua0hr/image/upload/v1562138473/web_images/snow1_p81pdd.png),
  url(https://res.cloudinary.com/di6vua0hr/image/upload/v1562138473/web_images/snow2_cdqown.png),
  url(https://res.cloudinary.com/di6vua0hr/image/upload/v1562138473/web_images/snow3_krwnc0.png);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }
@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }