#site-header {
  &.transparent-header {
    background-color: rgba(0,0,0,0.16);
  }
  #site-navigation-wrap {
    float: right;
    position: relative;
    right: -15px;
    &.dropdown-menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}